properties(
 [
  parameters (
    [
    {%- for parameter in parameters %}
    string(name: '{{ parameter }}', defaultValue: "{{ parameters[parameter]|none }}", description: '{{ parameter }}'),
    {%- endfor %}
    ]
  ),
 ]
)

pipeline {
    agent any 
    environment {
     DOCKER_OPTIONS = "--net host --rm --security-opt label=disable -v $HOME/.kcli:/root/.kcli -v $HOME/.ssh:/root/.ssh -v $PWD:/workdir -v /var/tmp:/ignitiondir"
     KCLI_PARAMETERS = "{{ parameterline }}"
    }
    stages {
        stage('Check Kcli client') {
            steps {
                sh 'docker run ${DOCKER_OPTIONS} karmab/kcli list client'
            }
        }
        stage('Deploy Kcli plan') {
            steps {
                sh 'docker run ${DOCKER_OPTIONS} karmab/kcli create plan -f ${WORKSPACE}/{{ inputfile | default('kcli_plan.yml') }} ${KCLI_PARAMETERS}'
            }
        }
    }
}
