{% for num in range(0, vms_number) %}

{{ cluster }}-{{ num }}:
 image: {{ image }}
 memory: {{ memory }}
 numcpus: {{ numcpus }}
 disks: {{ disks }}
 nets: {{ nets }}
 files:
 - path: /etc/motd
   content: Welcome to box of cluster {{ cluster }}
 - path: /etc/myfile01
   origin: files/myfile01
 scripts:
 - scripts/script01.sh
{% if num == 0 %}
 - scripts/script02.sh
{% endif %}

{% endfor %}
