include README.md
recursive-include samples *
recursive-include plans *
recursive-include extras *
recursive-include tests *
recursive-include kvirt/web/static *
recursive-include kvirt/web/templates *
recursive-include kvirt/internalplans *
recursive-include kvirt/k3s *
recursive-include kvirt/kubeadm *
recursive-include kvirt/openshift *
recursive-include kvirt/version *
recursive-include kvirt/common *
recursive-include kvirt/expose *
