include README.md
recursive-include samples *
recursive-include plans *
recursive-include extras *
recursive-include tests *
recursive-include kvirt/web/static *
recursive-include kvirt/web/templates *
recursive-include kvirt/ksushy/templates *
recursive-include kvirt/internalplans *
recursive-include kvirt/cluster/aks *
recursive-include kvirt/cluster/eks *
recursive-include kvirt/cluster/gke *
recursive-include kvirt/cluster/k3s *
recursive-include kvirt/cluster/kubeadm *
recursive-include kvirt/cluster/microshift *
recursive-include kvirt/cluster/openshift *
recursive-include kvirt/cluster/hypershift *
recursive-include kvirt/cluster/rke2 *
recursive-include kvirt/cluster/profiles *
recursive-include kvirt/version *
recursive-include kvirt/common *
recursive-include kvirt/expose *
recursive-include kvirt/providers/aws *
recursive-include kvirt/providers/gcp *
include kvirt/keywords.yaml
