include README.md
recursive-include samples *
recursive-include plans *
recursive-include extras *
recursive-include tests *
recursive-include kvirt/static *
recursive-include kvirt/templates *
recursive-include kvirt/internalplans *
recursive-include kvirt/kubeadm *
recursive-include kvirt/openshift *
