apiVersion: mirror.openshift.io/v1alpha2
kind: ImageSetConfiguration
storageConfig:
  registry:
    imageURL: {{ disconnected_url or '$LOCAL_REGISTRY' }}/openshift/release/metadata:latest
mirror:
{% if extra_images is defined %}
  additionalImages:
{% for image in extra_images %}
  - name: {{ image }}
{% endfor %}
{% endif %}
  operators: # Operators we want to mirror
{% if disconnected_operators|default([]) %}
{% if disconnected_operators_version %}
{% set catalog = 'quay.io/prega/prega-operator-index' if prega else 'registry.redhat.io/redhat/redhat-operator-index' %}
  - catalog: {{ catalog }}:{{ disconnected_operators_version }}
{% else %}
  - catalog: registry.redhat.io/redhat/redhat-operator-index:v{{ tag }}
{% endif %}
    packages:
{% for package in disconnected_operators %}
{% if package.name is defined %}
    - name: {{ package.name }}
{% else %}{# Comment: Support old syntax #}
    - name: {{ package }}
{% endif %}
{% if package.minVersion is defined %}
      minVersion: {{ package.minVersion }}
{% endif %}
{% if package.maxVersion is defined %}
      maxVersion: {{ package.maxVersion }}
{% endif %}
{% if package.channels is defined and package.channels|length > 0 %}
      channels:
{% for channel in package.channels %}
      - name: {{ channel.name }}
{% if channel.minVersion is defined %}
        minVersion: {{ channel.minVersion }}
{% endif %}
{% if channel.maxVersion is defined %}
        maxVersion: {{ channel.maxVersion }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% if disconnected_certified_operators|default([]) %}
{% if disconnected_certified_operators_version %}
  - catalog: registry.redhat.io/redhat/certified-operator-index:{{ disconnected_certified_operators_version }}
{% else %}
  - catalog: registry.redhat.io/redhat/certified-operator-index:v{{ tag }}
{% endif %}
    packages:
{% for package in disconnected_certified_operators %}
{% if package.name is defined %}
    - name: {{ package.name }}
{% else %}
    - name: {{ package }}
{% endif %}
{% if package.minVersion is defined %}
      minVersion: {{ package.minVersion }}
{% endif %}
{% if package.maxVersion is defined %}
      maxVersion: {{ package.maxVersion }}
{% endif %}
{% if package.channels is defined and package.channels|length > 0 %}
      channels:
{% for channel in package.channels %}
      - name: {{ channel.name }}
{% if channel.minVersion is defined %}
        minVersion: {{ channel.minVersion }}
{% endif %}
{% if channel.maxVersion is defined %}
        maxVersion: {{ channel.maxVersion }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% if disconnected_community_operators|default([]) %}
{% if disconnected_community_operators_version %}
  - catalog: registry.redhat.io/redhat/community-operator-index:{{ disconnected_community_operators_version }}
{% else %}
  - catalog: registry.redhat.io/redhat/community-operator-index:v{{ tag }}
{% endif %}
    packages:
{% for package in disconnected_community_operators %}
{% if package.name is defined %}
    - name: {{ package.name }}
{% else %}
    - name: {{ package }}
{% endif %}
{% if package.minVersion is defined %}
      minVersion: {{ package.minVersion }}
{% endif %}
{% if package.maxVersion is defined %}
      maxVersion: {{ package.maxVersion }}
{% endif %}
{% if package.channels is defined and package.channels|length > 0 %}
      channels:
{% for channel in package.channels %}
      - name: {{ channel.name }}
{% if channel.minVersion is defined %}
        minVersion: {{ channel.minVersion }}
{% endif %}
{% if channel.maxVersion is defined %}
        maxVersion: {{ channel.maxVersion }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% if disconnected_marketplace_operators|default([]) %}
{% if disconnected_marketplace_operators_version %}
  - catalog: registry.redhat.io/redhat/redhat-marketplace-index:{{ disconnected_marketplace_operators_version }}
{% else %}
  - catalog: registry.redhat.io/redhat/redhat-marketplace-index:v{{ tag }}
{% endif %}
    packages:
{% for package in disconnected_marketplace_operators %}
{% if package.name is defined %}
    - name: {{ package.name }}
{% else %}
    - name: {{ package }}
{% endif %}
{% if package.minVersion is defined %}
      minVersion: {{ package.minVersion }}
{% endif %}
{% if package.maxVersion is defined %}
      maxVersion: {{ package.maxVersion }}
{% endif %}
{% if package.channels is defined and package.channels|length > 0 %}
      channels:
{% for channel in package.channels %}
      - name: {{ channel.name }}
{% if channel.minVersion is defined %}
        minVersion: {{ channel.minVersion }}
{% endif %}
{% if channel.maxVersion is defined %}
        maxVersion: {{ channel.maxVersion }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% endif %}
{% if disconnected_extra_catalogs|default([]) %}
{% for catalog_image in disconnected_extra_catalogs %}
  - catalog: {{ catalog_image }}
{% endfor %}
{% endif %}
