CLUSTERDIR={{ clusterdir }}
TMPDIR={{ tmpdir }}
CTL_CIDR={{ contrail_ctl_cidr }}
CTL_GATEWAY={{ contrail_ctl_gateway }}
VERSION={{ contrail_version }}
cd $TMPDIR
export AUTH={{ auth }}
PULLSECRET_ENCODED=$(envsubst < contrail.auth | base64 -w0)
git clone https://github.com/Juniper/contrail-networking
cd contrail-networking/releases/$VERSION/ocp
sed -i "s@10.40.1.0/24@$CTL_CIDR@" vrrp/*99-network-configmap.yaml
sed -i "s@10.40.1.1@$CTL_GATEWAY@" vrrp/*99-network-configmap.yaml

FIRST_NIC={{ 'enp1s0' if uefi|default(False) else 'ens3' }}
SECOND_NIC={{ 'enp2s0' if uefi|default(False) else 'ens4' }}
sed -i "s@ens3@$FIRST_NIC@" *99-disable-offload-master.yaml *99-disable-offload-worker.yaml
sed -i "s@ens4@$SECOND_NIC@" vrrp/*99-disable-offload-master-ens4.yaml vrrp/*99-disable-offload-worker-ens4.yaml

rm -rf auth-registry/103-contrail-analytics-imagepullsecret.yaml
sed -i "s@<base64-encoded-credential>@$PULLSECRET_ENCODED@" auth-registry/*pullsecret.yaml

find . -name "*yaml" -exec cp {} $CLUSTERDIR/manifests \;
mkdir $CLUSTERDIR/contrail
find . -name "*yaml" -exec cp {} $CLUSTERDIR/contrail \;
