global
    log         127.0.0.1 local2
    maxconn     4000
    daemon

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

listen stats-50000
    bind :::50000 v4v6
    mode            http
    log             global
    maxconn 10
    timeout client  100s
    timeout server  100s
    timeout connect 100s
    # timeout queue   100s
    stats enable
    stats hide-version
    stats refresh 30s
    stats show-node
    stats auth admin:password
    stats uri  /haproxy?stats

{% if workers > 0 %}
{% set ingresses = workers %}
{% set ingressprefix = "worker" %}
{% else %}
{% set ingresses = ctlplanes %}
{% set ingressprefix = "ctlplane" %}
{% endif %}

{% set final_domain = domain.replace('.', '-') if config_type == 'kubevirt' and kubevirt_api_service else '%s.%s' % (cluster, domain) %}

listen ingress-8000
    bind :::8000 v4v6
    mode tcp
    balance source
{% for num in range(0, ingresses) %}
 {% if baremetal_hosts is defined and baremetal_hosts|length > num and 'fqdn' in baremetal_hosts[num] %}
 {% set server = baremetal_hosts[num]['fqdn'] %}
 {% elif custom_names is defined and "%s-%s-%s" % (cluster, ingressprefix, num) in custom_names %}
 {% set server = custom_names["%s-%s-%s" % (cluster, ingressprefix, num)] %}
 {% else %}
 {% set server = "%s-%s-%s.%s" % (cluster, ingressprefix, num, final_domain) %}
 {% endif %}
    server {{ ingressprefix }}{{ num }} {{ server }}:80 check inter 1s
{% endfor %}

listen ingress-1443
    bind :::1443 v4v6
    mode tcp
    balance source
{% for num in range(0, ingresses) %}
 {% if baremetal_hosts is defined and baremetal_hosts|length > num and 'fqdn' in baremetal_hosts[num] %}
 {% set server = baremetal_hosts[num]['fqdn'] %}
 {% elif custom_names is defined and "%s-%s-%s" % (cluster, ingressprefix, num) in custom_names %}
 {% set server = custom_names["%s-%s-%s" % (cluster, ingressprefix, num)] %}
 {% else %}
 {% set server = "%s-%s-%s.%s" % (cluster, ingressprefix, num, final_domain) %}
 {% endif %}
    server {{ ingressprefix }}{{ num }} {{ server }}:443 check inter 1s
{% endfor %}
