[Unit]
Description=Patch single node
Wants=bootkube.service
ConditionPathExists=!/opt/openshift/kcli-singlenode-patch.done

[Service]
WorkingDirectory=/opt/openshift
ExecStart=/usr/local/bin/kcli-singlenode-patch.sh

Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
