global
    log         127.0.0.1 local2
    maxconn     4000
    daemon

defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

listen stats-50000
    bind {{ api_ip }}:50000
    mode            http
    log             global
    maxconn 10
    timeout client  100s
    timeout server  100s
    timeout connect 100s
    # timeout queue   100s
    stats enable
    stats hide-version
    stats refresh 30s
    stats show-node
    stats auth admin:password
    stats uri  /haproxy?stats

{% if workers > 0 %}
{% set ingresses = workers %}
{% set ingressprefix = "worker" %}
{% else %}
{% set ingresses = masters %}
{% set ingressprefix = "master" %}
{% endif %}

{% if ingress_ip != None %}
{% set final_ip = ingress_ip %}
{% else %}
{% set final_ip = api_ip %}
{% endif %}

{% if network_type == 'Contrail' and name == cluster + '-bootstrap' %}
listen api-6443
    bind {{ api_ip }}:6443
    mode tcp
    balance source
{% for num in range(0, masters) %}
    server master{{ num }} {{ cluster }}-master-{{ num }}.{{ cluster }}.{{ domain }}:6443 check inter 1s
{% endfor %}

listen machineconfig-22623
    bind {{ api_ip }}:22623
    mode tcp
    balance source
{% for num in range(0, masters) %}
    server master{{ num }} {{ cluster }}-master-{{ num }}.{{ cluster }}.{{ domain }}:22623 check inter 1s
{% endfor %}

listen machineconfig-22624
    bind {{ api_ip }}:22624
    mode tcp
    balance source
{% for num in range(0, masters) %}
    server master{{ num }} {{ cluster }}-master-{{ num }}.{{ cluster }}.{{ domain }}:22624 check inter 1s
{% endfor %}
{% endif %}

listen ingress-80
    bind {{ final_ip }}:80
    mode tcp
    balance source
{% for num in range(0, ingresses) %}
    server {{ ingressprefix }}{{ num }} {{ cluster }}-{{ ingressprefix }}-{{ num }}.{{ cluster }}.{{ domain }}:80 check inter 1s
{% endfor %}

listen ingress-443
    bind {{ final_ip }}:443
    mode tcp
    balance source
{% for num in range(0, ingresses) %}
    server {{ ingressprefix }}{{ num }} {{ cluster }}-{{ ingressprefix }}-{{ num }}.{{ cluster }}.{{ domain }}:443 check inter 1s
{% endfor %}
