[Unit]
Description=Registry Container
After=network.target

[Service]
Restart=always
ExecStart=/usr/bin/podman start -a registry
ExecStop=/usr/bin/podman stop -t 2 registry

[Install]
WantedBy=multi-user.target
