{% include "head.html" %}
<div id="wheel"></div>
<p>
{% for client, plans in clients.items() %}
{% for name, plan in plans.items() %}
{% if 'owner' in plan %}
{% set owner = "(" + plan['owner'] + ")" %}
{% endif %}
<table class="table table-bordered table-hover">
  <tbody>
  <tr class="table-primary">
    <th>Plan name</th>
    <th>Client</th>
    <th>Creation Date</th>
    <th>Actions</th>
  <tr>
  <th>{{ name }}</th>
  <th>{{ client }}</th>
  <th>{{ plan['creationdate']|default('') }} {{ owner|default('') }}</th>
  <th><button type="button" class="btn btn-success" onclick="location.href='{{ url_for('exposeform', plan=name) }}'" target="_blank" >Reprovision</button><button type="button" class="btn btn-danger" onclick="exposedelete('{{ name }}');">Delete</button></th>
    <th></th>
  </tr>
{% if plan['vms'] %}
  <tr class="table-info">
    <th>Vm name</th>
    <th>Status</th>
    <th>Ip</th>
  </tr>
{% for vm in plan['vms'] %}
  <tr>
    <td>{{ vm['name'] }}</td>
    <td>{{ vm['status'] }}</td>
    <td>{{ vm['ip'] }}</td>
  </tr>
{% endfor %}
{% endif %}
  </tbody>
</table>
<br>
{% endfor %}
{% endfor %}

</body>
</html>
