{% include "head.html" %}
<div id="wheel"></div>
<p>
<table class="table table-bordered table-hover table-striped">
<tbody>
<tr class="table-success">
  <th>Plan name</th>
  <th>Actions</th>
<tr>
{% for plan in plans %}
  <th>{{ plan }} {{ '(' + owners[plan] + ')' if plan in owners else '' }}</th>
  <th><button type="button" class="btn btn-info" onclick="location.href='/infoplan/{{ plan }}'" target="_blank" >Info</button><button type="button" class="btn btn-success" onclick="location.href='/exposeform/{{ plan }}'" target="_blank" >Reprovision</button><button type="button" class="btn btn-danger" onclick="exposedelete('{{ plan }}');">Delete</button></th>
  <th></th>
  </tr>
  </tbody>
{% endfor %}
</table>
<br>
</body>
</html>
