<html>
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
</head>
<body>

<p>
{% for plan in plans %}
<table class="table table-bordered table-hover">
  <tbody>
  <tr class="table-primary">
    <th>Plan name</th>
    <th>Actions</th>
    <th></th>
  <tr>
  <th>{{ plan }}</th>
  <th><button type="button" class="btn btn-success">Reprovision</button><button type="button" class="btn btn-danger">Delete</button></th>
    <th></th>
  </tr>
{% if plans[plan] %}
  <tr class="table-info">
    <th>Vm name</th>
    <th>Status</th>
    <th>Ip</th>
  </tr>
{% for vm in plans[plan]%}
  <tr>
    <td>{{ vm['name'] }}</td>
    <td>{{ vm['status'] }}</td>
    <td>{{ vm['ip'] }}</td>
  </tr>
{% endfor %}
{% endif %}
  </tbody>
</table>
<br>
{% endfor %}

</body>
</html>
