{% extends "layout.html" %}
{% block content %}
<table id="vms" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Ips</th>
                <th>Source</th>
                <th>Description/Plan</th>
                <th>Profile</th>
            </tr>
        </thead>
        <tbody>
            {% for vm in vms %}
            <tr>
                <td>{{ vm[0] }}</td>
                <td>{{ vm[1] }}</td>
                <td>{{ vm[2] }}</td>
                <td>{{ vm[3] }}</td>
                <td>{{ vm[4] }}</td>
                <td>{{ vm[5] }}</td>
            </tr>
            {% endfor %} 
        </tbody>
</table>

<script>
$(document).ready(function() {
$('#vms').dataTable();
});
</script>
{% endblock %}
