{% extends "layout.html" %}
{% block content %}

<div id="wheel"></div>
<div class='notifications top-right'></div>
<form id="createvmform">
    <div class="form-group">
        <label for="inputName">Name</label>
        <input required="true" type="name" class="form-control" id="name" placeholder="Name">
    </div>
    <div class="form-group">
    <label for="profile">Select Profile:</label>
    <select class="form-control" id="profile">
      {% for profile in profiles %}
      <option>{{ profile[0] }}</option>
      {% endfor %}
    </select>
    </div>
    <button type="submit" id="createvmbutton" class="btn btn-primary">Create</button>
</form>

<script>
$(document).ready(function() {
//$("#createvmbutton").click(function() {
$("#createvmform").submit(function() {
var name = $("#name").val();
var profile = $("#profile").val();
vmcreate(name, profile);
return ;
});
});
</script>
{% endblock %}
