apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: argocd-server-ingress
  namespace: argocd
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
spec:
  rules:
  - host: argocd.{{ cluster | default('testk') }}.{{ domain | default('karmalabs.corp') }}
    http:
      paths:
      - backend:
          serviceName: argocd-server
          servicePort: https
