CLUSTERDIR={{ clusterdir }}
CIDR={{ cidr }}
CILIUM_VERSION={{ 'cilium/cilium'|github_version(cilium_version) }}
git clone https://github.com/isovalent/olm-for-cilium $CLUSTERDIR/olm-for-cilium
sed -i "/ipam/a\ \ \ \ operator:\n \ \ \ \ \ clusterPoolIPv4PodCIDRList: $CIDR\n \ \ \ \ \ clusterPoolIPv4MaskSize: 23" $CLUSTERDIR/olm-for-cilium/manifests/cilium.$CILIUM_VERSION/cluster-network-07-cilium-ciliumconfig.yaml
KUBECONFIG=$CLUSTERDIR/auth/kubeconfig oc apply -f $CLUSTERDIR/olm-for-cilium/manifests/cilium.$CILIUM_VERSION
sleep 30
KUBECONFIG=$CLUSTERDIR/auth/kubeconfig oc apply -f $CLUSTERDIR/olm-for-cilium/manifests/cilium.$CILIUM_VERSION
