[Unit]
Description=Extra service
After=network-online.target
Wants=network-online.target
[Service]
Type=oneshot
ExecStart=/usr/local/bin/extras.sh
[Install]
WantedBy=multi-user.target
