openapi: 3.0.0
info:
  version: 1.0.0
  title: Kcli expose API
  description: Kcli expose API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
components:
  schemas:
    Result:
      type: object
      properties:
        result:
          type: string
        reason:
          type: string
      example:
          result: success
    Vm:
      type: object
      properties:
        creationdate:
          type: string
        id:
          type: string
        image:
          type: string
        ip:
          type: string
        ips:
          type: array
          items:
            type: string
        info:
          type: string
        kube:
          type: string
        kubetype:
          type: string
        name:
          type: string
        nets:
          type: array
          items:
            type: string
        plan:
          type: string
        profile:
          type: string
        status:
          type: string
        user:
          type: string
paths:
  /expose:
    get:
      description: Returns list of plans
      responses:
        '200':
          description: Successfully returned list of plans
          content:
            application/json:
              schema:
                type: object
                properties:
                  plans:
                    type: array
                    items:
                      type: string
                  owners:
                    type: object
                    properties:
                      plan:
                        type: string
                        description: Owner
                  overrides:
                    type: object
    post:
      description: Create a plan
      requestBody:
        required: true
        description: Plan name
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:   
                plan:
                  type: string
              example:
                plan: superplan
                version: production
                tag: '1.0'
      responses:
        '200':
          description: Successfully created a new plan
          content:
            application/json:
              schema:
                type: object 
                properties:
                  plan:
                    type: string
                  data:
                    type: string
        '400':
          description: Missing plan in data
          content:
            application/json:
              schema:
                type: object
                properties:   
                  message:
                    type: string
  /expose/{plan}:
    get:
      description: Get info on a plan
      parameters:
      - name: plan
        in: path
        description: Plan name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully provided info on plan
        '400':
          description: Missing plan in data
          content:
            application/json:
              schema:
                type: array
                items:
                 $ref: '#/components/schemas/Vm'
    delete:
      description: Delete a plan
      parameters:
      - name: plan
        in: path
        description: Plan name
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Successfully delete plan
        '400':
          description: Missing plan in data
          content:
            application/json:
              schema:
                type: object
                properties:   
                  message:
                    type: string
