name: KCLI-CI
on: [push, pull_request]

env:
 QUAY_USERNAME: ${{ secrets.QUAY_USERNAME }}
 QUAY_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
 PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
 PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
 CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}
 COPR_BASE64: ${{ secrets.COPR_BASE64 }}
 PYTHONUNBUFFERED: true

jobs:

  run-workflow:
    name: Workflow
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
      - name: Install Dependencies
        run: sudo .github/prep.sh
        shell: bash
      - name: Lint Code
        run: .github/linting.sh
        shell: bash
      - name: Test code
        run: .github/testing.sh
        shell: bash
      - if: github.event_name == 'push' && github.ref == 'refs/heads/master' && github.repository_owner == 'karmab'
        name: Release RPM
        run: .github/copr.sh
        shell: bash
      - if: github.event_name == 'push' && github.ref == 'refs/heads/master' && github.repository_owner == 'karmab'
        name: Release DEB
        run: .github/cloudsmith.sh
        shell: bash
      - if: github.event_name == 'push' && github.ref == 'refs/heads/master' && github.repository_owner == 'karmab'
        name: Release PYPI
        run: .github/pypi.sh
        shell: bash
      - if: github.event_name == 'push' && github.ref == 'refs/heads/master' && github.repository_owner == 'karmab'
        name: Build And Push Container
        run: .github/container.sh
        shell: bash
