name: SNO-CI
on:
  workflow_dispatch:
    inputs:
      CLUSTER:
        description: 'Cluster'
        required: true
        default: ci-sno
      PARAMFILE:
        description: 'paramfile'
        required: false
        default: openshift-ci-paramfiles/sno.yml
      EXTRAPARAMS:
        description: 'Extra params'
        default: ''
      PULLSECRET:
        description: 'Pull Secret'
        required: false
        default: /root/openshift_pull.json
      VERSION:
        description: 'version'
        required: false
        default: stable
      TAG:
        description: 'tag'
        required: false
        default: "4.15"
      DISKS:
        description: 'disks'
        required: false
        default: "[50,100]"
      NUMCPUS:
        description: 'numcpus'
        required: false
        default: "16"
      MEMORY:
        description: 'memory'
        required: false
        default: "32768"

env:
 HOME: /root
 PYTHONUNBUFFERED: true
 CLUSTER: ${{github.event.inputs.CLUSTER}}
 INPUTFILE: ${{github.event.inputs.INPUTFILE}}
 PARAMFILE: ${{github.event.inputs.PARAMFILE}}
 EXTRAPARAMS: ${{github.event.inputs.EXTRAPARAMS}}
 PULLSECRET: ${{github.event.inputs.PULLSECRET}}
 VERSION: ${{github.event.inputs.VERSION}}
 TAG: ${{github.event.inputs.TAG}}
 MEMORY: ${{github.event.inputs.MEMORY}}
 NUMCPUS: ${{github.event.inputs.NUMCPUS}}

jobs:
    requirements:
      runs-on: karim03
      steps:
       - uses: actions/checkout@v2
       - run: git pull origin ${GITHUB_REF##*/}
       - name: Install kcli
         run: |
           curl https://raw.githubusercontent.com/karmab/kcli/main/install.sh | bash
           kcli create sushy-service
       - name: Delete old install
         run: kcli delete cluster --yes $CLUSTER || true

    deploy-baremetal-like-vm:
      needs: requirements
      runs-on: karim03
      steps:
      - name: Deploy Baremetal like vm
        run: |
          kcli create vm -P uefi=true -P boot_order=true -P start=false -P memory=$MEMORY -P numcpus=$NUMCPUS -P disks=$DISKS -P nets=[baremetalfake] -P user=core -P plan=$CLUSTER -P kube=$CLUSTER -P kubetype=openshift $EXTRAPARAMS $CLUSTER

    deploy-openshift:
      needs: deploy-baremetal-like-vm
      runs-on: karim03
      steps:
      - name: Deploy SNO
        run: |
          kcli create cluster openshift --paramfile $PARAMFILE -P pull_secret=$PULLSECRET -P version=$VERSION -P tag="$TAG" $EXTRAPARAMS $CLUSTER
